/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-nrdjzseoqj] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-nrdjzseoqj] {
    flex: 1;
}


.top-row[b-nrdjzseoqj] {
    background-color: #939393;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-nrdjzseoqj]  a, .top-row .btn-link[b-nrdjzseoqj] {
        white-space: nowrap;
        margin-left: 1.5rem;
        color: white;
    }

    .top-row a:first-child[b-nrdjzseoqj] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-nrdjzseoqj] {
        display: none;
    }

    .top-row.auth[b-nrdjzseoqj] {
        justify-content: space-between;
    }

    .top-row a[b-nrdjzseoqj], .top-row .btn-link[b-nrdjzseoqj] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-nrdjzseoqj] {
        flex-direction: row;
    }

    .sidebar[b-nrdjzseoqj] {
        position: sticky;
        top: 0;
    }

    .top-row[b-nrdjzseoqj] {
        top: 0;
        z-index: 1;
        background-color: #939393;
    }

    .main > div[b-nrdjzseoqj] {
        z-index: -1;
        width: auto;
        margin-left: -240px;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-u0mufcxgov] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-u0mufcxgov] {
    height: 3.45rem;
    background-color: #616161 !important;
}

.navbar-brand[b-u0mufcxgov] {
    font-size: 1.1rem;
}

.oi[b-u0mufcxgov] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-u0mufcxgov] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-u0mufcxgov] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-u0mufcxgov] {
        padding-bottom: 1rem;
    }

    .nav-item[b-u0mufcxgov]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item[b-u0mufcxgov]  a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item[b-u0mufcxgov]  a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

@media (min-width: 641px) {
    .navbar-toggler[b-u0mufcxgov] {
        display: none;
    }

    .collapse[b-u0mufcxgov] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
