@page "/editincome/{Id}"
@inject HttpClient Http
@using ExpenseTracker.Shared.Models
@inject NavigationManager Navigation

<h2>Edit Income</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form @onsubmit="@(async () => await UpdateIncome())">
            <div class="form-group">
                <label for="Title" class="control-label">Name</label>
                <input for="Title" class="form-control" @bind="@income.Title" />
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label">Amount</label>
                <input asp-for="Amount" class="form-control" @bind="@income.Amount"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <input type="submit" value="Cancel" @onclick="@cancel" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>

@functions {
    [Parameter]
    public string id { get; set; }
    public Income income = new Income();
    protected override async Task OnInitializedAsync()
    {
        income = await Http.GetFromJsonAsync<Income>("/api/Expense/GetSingleIncome/" + Convert.ToInt32(id));
    }
    protected async Task UpdateIncome()
    {
        await Http.PutAsJsonAsync("api/Expense/UpdateIncome", income);
        Navigation.NavigateTo("/");
    }
    void cancel()
    {
        Navigation.NavigateTo("/");
    }
}  