@page "/"
@using ExpenseTracker.Client.Components.Expense
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager NavigationManager

<center>
    <h1>Hello!</h1>

    Welcome to your expense tracker and borrowed item tracker application.
</center>

<center>
    <div class="row">
        <div class="col-md-6">
            <ExpenseList />
        </div>
        <div class="col-md-6">
            
        </div>
    </div>
</center>

@code
{

    [CascadingParameter] protected Task<AuthenticationState> AuthStat { get; set; }

    protected async override Task OnInitializedAsync()
    {
        base.OnInitialized();
        var user = (await AuthStat).User;
        if (!user.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo($"authentication/login?returnUrl={Uri.EscapeDataString(NavigationManager.Uri)}");
        }
    }


}
