@using MatBlazor

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="/">Expense Tracker</a>
    <MatDrawerContainer>
        <MatDrawer @bind-Opened="@Opened" Mode="@MatDrawerMode.Modal">
            <div class="@NavMenuCssClass">
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                            <span class="oi oi-home" aria-hidden="true"></span> Home
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="/authentication/profile" Match="NavLinkMatch.All">
                            <span class="oi oi-person" aria-hidden="true"></span> Profile
                        </NavLink>
                    </li>
                </ul>
            </div>
        </MatDrawer>
        <MatDrawerContent>
            <div>
                <MatButton OnClick="@((e) => ButtonClicked())"><span class="oi oi-grid-three-up"></span></MatButton>

            </div>
        </MatDrawerContent>
    </MatDrawerContainer>

</div>


@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    bool Opened = false;

    void ButtonClicked()
    {
        Opened = !Opened;
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
